@model User

@{
    if (Model.user_role == "user")
    {
        Layout = "/Views/Shared/layouts/_Layout_user.cshtml";
    }
    else if (Model.user_role == "modder")
    {
        Layout = "/Views/Shared/layouts/_Layout_modder.cshtml";
    }
    else if (Model.user_role == "admin")
    {
        //Layout = "/Views/Shared/layouts/_Layout_test.cshtml"; тут для админа
    }

    string path = Model.path_to_icon;
}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <style>
        .profile-container {
            width: 750px;
            height: auto;
            border: 1px solid #ccc;
            padding: 20px;
            text-align: left; /* Выравниваем текст по левому краю */
            margin: 0 auto;
        }

        body {
            padding-top: 70px; /* Устанавливаем отступ со всех сторон */
        }

        .avatar {
            width: 150px;
            height: 150px;
            background-color: #f3f3f3;
            border-radius: 50%;
            margin: auto;
            display: block;
  
        }

        .info-label {
            display: inline-block; /* Делаем элементы строчно-блочными */
            width: 200px; /* Фиксированная ширина для меток */
            text-align: left; /* Выравниваем текст меток по правому краю */
            margin-right: 10px; /* Отступ справа от метки до поля */
            font-size: 20px;
            margin-bottom:20px;
        }

        .info-content {
            display: inline-block; /* Делаем элементы строчно-блочными */
            font-size: 20px;
            
        }

        .username, .email, .fullname {
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 20px;
            margin: 15px 0;
        }

        .default-b {
            border: 2px solid transparent; /* Прозрачная граница в обычном состоянии */
            background-color: transparent; /* Прозрачный фон в обычном состоянии */
            color: #000; /* Цвет текста */
            padding: 5px 10px; /* Отступы вокруг текста */
            font-size: 20px; /* Размер шрифта */
            transition: all 0.1s ease; /* Плавность перехода */

            display: block; /* Блочное отображение */
            margin-left: auto; /* Автоматический отступ слева */
            margin-right: auto; /* Автоматический отступ справа */
            
        }

            .default-b:hover {
                border-color: #000; /* Черная граница при наведении */
                background-color: rgba(0, 0, 0, 0.1); /* Затемнение фона при наведении */
                transform: translate(1px, 1px);
            }

        .default-b-bet {
            color: #000; /* Цвет текста */
            padding: 5px 10px; /* Отступы вокруг текста */
            font-size: 20px; /* Размер шрифта */
            transition: all 1s; /* Плавность перехода */
            overflow: hidden;
            text-decoration: none;
            cursor: pointer;

            

            display: block; /* Блочное отображение */
            margin-left: auto; /* Автоматический отступ слева */
            margin-right: auto; /* Автоматический отступ справа */
        }

            .default-b-bet:hover {
                border-color: #000; /* Черная граница при наведении */
                background-color: rgba(0, 0, 0, 0.1); /* Затемнение фона при наведении */
                transform: translate(1px, 1px);
            }

        .link-but {
            border: 2px solid transparent; /* Прозрачная граница в обычном состоянии */
            background-color: transparent; /* Прозрачный фон в обычном состоянии */
            text-decoration: none;
            color: #000; /* Цвет текста */
            padding: 5px 10px; /* Отступы вокруг текста */
            font-size: 20px; /* Размер шрифта */
            transition: all 0.1s ease; /* Плавность перехода */
            display: inline-block; /* Измените на inline-block для контроля ширины */
            text-align: center; /* Выравнивание текста по центру */
            width: auto; /* Автоматическая ширина в зависимости от содержимого */
            max-width: 300px;

            display:block;
            margin-left: auto; /* Автоматический отступ слева */
            margin-right: auto; /* Автоматический отступ справа */
            margin-bottom: 10px;
            margin-top: 20px;
        }

            .link-but:hover {
                border-color: #000; /* Черная граница при наведении */
                background-color: rgba(0, 0, 0, 0.1); /* Затемнение фона при наведении */
                transform: translate(1px, 1px);
                color: #000; /* Черный цвет текста при наведении */
                text-decoration: none; /* Убираем подчеркивание при наведении */
            }

        .link-but-mod {
            border: 2px solid transparent; /* Прозрачная граница в обычном состоянии */
            background-color: transparent; /* Прозрачный фон в обычном состоянии */
            text-decoration: none;
            color: #000; /* Цвет текста */
            padding: 5px 10px; /* Отступы вокруг текста */
            font-size: 15px; /* Размер шрифта */
            transition: all 0.1s ease; /* Плавность перехода */
            display: inline-block; /* Измените на inline-block для контроля ширины */
            text-align: center; /* Выравнивание текста по центру */
            width: auto; /* Автоматическая ширина в зависимости от содержимого */
            max-width: 300px;
            display: block;
            margin-right: auto; /* Автоматический отступ справа */
        }

            .link-but-mod:hover {
                border-color: #000; /* Черная граница при наведении */
                background-color: rgba(0, 0, 0, 0.1); /* Затемнение фона при наведении */
                transform: translate(1px, 1px);
                color: #000; /* Черный цвет текста при наведении */
                text-decoration: none; /* Убираем подчеркивание при наведении */
            }

        
            
    </style>
</head>
<body>
    
    
    <div class="profile-container">
        <img src=@path alt="Avatar" class="avatar"></img>
        <a style="margin-bottom: 20px;" class="link-but" asp-area="" asp-controller="Access" asp-action="Icon"><i class="fa-solid fa-image"></i> Изменить фото профиля</a>
        
        
        <div class="username"><span class="info-label"><i class="fa-solid fa-user"></i> Имя пользователя:</span><span class="info-content">@Model.username</span>
            <form asp-controller="Access" asp-action="ChangeUsername" method="get">
                <input type="hidden" name="stat" value="not option">
                
                <button style="" class="link-but-mod text-dark" type="submit">Изменить имя пользователя</button>
            </form>
        </div>
        
        <div class="email"><span class="info-label"><i class="fa-solid fa-paper-plane"></i> Почта:</span><span class="info-content">@Model.user_info.email</span>
            <form asp-controller="Access" asp-action="ChangeEmail" method="get">
                <input type="hidden" name="stat" value="not option">

                <button style="" class="link-but-mod text-dark" type="submit">Сменить почту</button>
            </form>
        </div>
        <div class="fullname"><span class="info-label"><i class="fa-solid fa-address-book"></i> Полное имя:</span><span class="info-content">Имя: @Model.user_info.firstname, Фамилия: @Model.user_info.lastname</span>
        </div>
        <a class="link-but text-dark" asp-area="" asp-controller="Article" asp-action="Index"><i class="fas fa-plus-square"></i> Написать статью</a>
        @if (Model.user_role == "modder")
        {
            <a class="link-but text-dark" asp-area="" asp-controller="Modder" asp-action="Index"><i class="fa-solid fa-pen"></i> Модерировать статьи</a>
        }
        <a class="link-but text-dark" asp-area="" asp-controller="Access" asp-action="Channel"><i class="fa-solid fa-list"></i> Редактировать канал</a>
    </div>
</body>
</html>
    