<form asp-action="Login" method="post">

    Юзенейм
    <input name="username" type="text" />
    Пароль
    <input name="password" type="text" />
    
    <input type="submit" value="send"></input>
</form>