@using System.Text.RegularExpressions;

@{
    string username_str = (string)ViewData["NotCorrextPassword"];

    string username = "";

    if (username_str != "")
    {
        string pattern = @"Неправильный пароль (.*)";

        Match match = Regex.Match(username_str, pattern);

        if (match.Success)
        {
            username = match.Groups[1].Value;

        }
    }
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Signin Template for Bootstrap</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sign-in/">

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="signin.css" rel="stylesheet">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css">
    <script src="https://kit.fontawesome.com/77e4e26825.js" crossorigin="anonymous"></script>

    <style>
        body {
            padding-top: 70px; /* Устанавливаем отступ со всех сторон */
        }
        
        .form-control {
            width: 300px; /* Фиксированная ширина */
            max-width: 100%; /* Ширина не будет превышать 100% от родительского элемента */
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        
        .default-b {
            border: 2px solid transparent; /* Прозрачная граница в обычном состоянии */
            background-color: transparent; /* Прозрачный фон в обычном состоянии */
            color: #000; /* Цвет текста */
            padding: 5px 10px; /* Отступы вокруг текста */
            font-size: 20px; /* Размер шрифта */
            transition: all 0.1s ease; /* Плавность перехода */
        }

            .default-b:hover {
                border-color: #000; /* Черная граница при наведении */
                background-color: rgba(0, 0, 0, 0.1); /* Затемнение фона при наведении */
                transform:translate(1px, 1px);
                
            }

        .form-signin > * {
            margin-bottom: 10px; /* Добавляет отступ снизу для всех элементов внутри .form-signin */
        }
    </style>
</head>

<body class="text-center">
    <form class="form-signin" asp-action="Login" method="post">
        <i class="fa-solid fa-user fa-3x"></i>
        <h1 class="h3 mb-3 font-weight-normal">Вход</h1>
        <input name="username" type="text" id="inputUsername" class="form-control" placeholder="Username" required autofocus maxlength="20">
        @{
            if (ViewData["NotFoundMessage"] != "")
            {
                <h6>@ViewData["NotFoundMessage"]</h6>
            }
            else if (username != "")
            {
                <h6>Неправильный пароль</h6>
            }
        }
        <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>

        <div style="margin-left: auto; margin-right: auto; display: block;"><input type="checkbox" onclick="togglePasswordVisibility()"> Показать пароль</div>
        
        <button class="default-b text-dark" type="submit" value="send">Войти</button>
    </form>
</body>

<script>
    function togglePasswordVisibility() {
        var passwordInput = document.getElementById("inputPassword");
        if (passwordInput.type === "password") {
            passwordInput.type = "text";
        } else {
            passwordInput.type = "password";
        }
    }
</script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var user = @Json.Serialize(username);
        document.getElementById('inputUsername').value = user;
    });
</script>
</html>