


@* <form asp-action="Registration" method="post">

    Юзенейм
<input asp-for="username" type="text"/>
    Пароль
    <input asp-for="password" type="text" />
    Почта
    <input asp-for="user_info.email" type="text" />
    Имя
    <input asp-for="user_info.firstname" type="text" />
    Фамилия
    <input asp-for="user_info.lastname" type="text" />
    
    <input type="submit" value="send"></input>

</form> *@

@model User

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Signin Template for Bootstrap</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sign-in/">

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="signin.css" rel="stylesheet">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css">
    <script src="https://kit.fontawesome.com/77e4e26825.js" crossorigin="anonymous"></script>

    <style>

        body {
            padding-top: 70px; /* Устанавливаем отступ со всех сторон */
        }
        
        .form-control {
            width: 300px; /* Фиксированная ширина */
            max-width: 100%; /* Ширина не будет превышать 100% от родительского элемента */
            display: block;
            margin-left: auto;
            margin-right: auto;
        }


        .default-b {
            border: 2px solid transparent; /* Прозрачная граница в обычном состоянии */
            background-color: transparent; /* Прозрачный фон в обычном состоянии */
            color: #000; /* Цвет текста */
            padding: 5px 10px; /* Отступы вокруг текста */
            font-size: 20px; /* Размер шрифта */
            transition: all 0.1s ease; /* Плавность перехода */
        }

            .default-b:hover {
                border-color: #000; /* Черная граница при наведении */
                background-color: rgba(0, 0, 0, 0.1); /* Затемнение фона при наведении */
                transform: translate(1px, 1px);
            }

        .form-signin > * {
            margin-bottom: 10px; /* Добавляет отступ снизу для всех элементов внутри .form-signin */
        }

    </style>
</head>

<body class="text-center">
    <form class="form-signin" asp-action="Registration" onsubmit="return validateForms()" method="post">
        <i class="fas fa-user-plus fa-3x"></i>
        <h1 class="h3 mb-3 font-weight-normal">Регистрация</h1>
        
        <input asp-for="username" name="username" type="text" id="inputEmail" class="form-control" placeholder="Username" required autofocus minlength="6" maxlength="20">

        @{
            if (ViewData["UserExist"] != "")
            {
                <h6>@ViewData["UserExist"]</h6>
            }
        }
       
        <input asp-for="password" name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required minlength="10">
        <input type="password" id="inputCheckPassword" class="form-control" placeholder="Password" required>
        <div style="margin-left: auto; margin-right: auto; display: block;"><input type="checkbox" onclick="togglePasswordVisibility()"> Показать пароль</div>
        
        <input asp-for="user_info.email" type="email" id="inputEmail" class="form-control" placeholder="Email" required minlength="6">

        <input asp-for="user_info.firstname" type="text" id="inputName1" class="form-control" placeholder="First name" required minlength="3">
        
        <input asp-for="user_info.lastname" type="text" id="inputName2" class="form-control" placeholder="Last name" required minlength="3">

        <input asp-for="channelname" type="text" id="inputchName" class="form-control" placeholder="Name of article channel" required minlength="4">
        
        <button class="default-b text-dark" type="submit" value="send">Зарегистрироваться</button>
    </form>
</body>

<script>
    function togglePasswordVisibility() {
        var passwordInput1 = document.getElementById("inputPassword");
        var passwordInput2 = document.getElementById("inputCheckPassword");
        if (passwordInput1.type === "password") {
            passwordInput1.type = "text";
            passwordInput2.type = "text";
        } else {
            passwordInput1.type = "password";
            passwordInput2.type = "password";
        }
    }
</script>

<script>
    function validateForms() {
        var passwordInput = document.getElementById("inputPassword").value;
        var passwordCheckInput = document.getElementById("inputCheckPassword").value;

        if (passwordInput.trim() !== passwordCheckInput.trim()) {
            alert("Поля паролей не равны");
            return false;
        }

        return true;
    }
</script>